{% extends "base.html.twig" %}
{% block content %}
    <div class="section_1 mt-5">
        <h1 class="yummy_title recipe_name">La Tarte aux pommes</h1>
        <span><a data-toggle="tooltip" title="Ajoutez au carnet !" href="#"><img src="../../../public/img/fav.png" class="img-fluid ml-1 pb-3" width="25"></a></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate labore voluptates incidunt pariatur fugit suscipit
            ipsa quisquam ab unde, in totam praesentium molestiae iure quod voluptas minus blanditiis tenetur molestias!
        </p>
        <div>
            <div class="mb-3 text-center">
                <span data-toggle="tooltip" title="Difficulté ">
                            <img src="../../../public/img/cooking_hat.png" alt="" class="img-fluid" width="28" >
                            <span class="mr-3">Facile</span>
                </span>
                <span data-toggle="tooltip" title="Temps de préparation">
                            <img src="../../../public/img/clock.png" alt="" class="img-fluid" width="25" >
                            <span class="mr-3">25 min</span>
                </span>
                <span data-toggle="tooltip" title="Cuisson">
                            <img src="../../../public/img/fried.png" alt="" class="img-fluid" width="32" >
                            <span class="mr-3">45 min</span>
                </span>
                <span data-toggle="tooltip" title="Note">
                            <img src="../../../public/img/star.png" alt="" class="img-fluid" width="25" >
                            <span >3/5</span>
                </span>
            </div>
        </div>
        <img src="../../../public/img/tartepommes.jpg" alt="" class="img-fluid img-recipe" width="750" height="300">
        <p class="text-center mt-4"><a href="#" class="category_link">Découvrez les autres desserts</a></p>
    </div>
{% endblock %}
{% block aside %}
    <section class="col-md-3 mt-5 ml-4 pl-4 pr-4 section_2">
        <div class="text-center mb-4">
            <img src="../../../public/img/glove.png" alt="" width="55" class="text-center">
        </div>

        <div class="section-3">
            <div id="up" ></div>
            <a href="#down"><img src="../../../public/img/down.png" width="20" class=""></a>
            <h3 class="mb-3 mt-2 yummy_title"> Liste des ingrédients</h3>
            <ul>
                <li>6 Pommes Canada</li>
                <li>4 oeufs</li>
                <li>250 g de beurre</li>
                <li>230 g de sucre</li>
                <li>13 g de farine</li>
                <li>1 pincée de sel</li>
                <li>80 g de poudre d'amandes</li>
            </ul>
            <h3 class="mb-3 yummy_title">Préparation</h3>
            <ol>
                <li class="mb-2">Couper les pommes</li>
                <li class="mb-2">Préparez la pâte 2 heures à l'avance. Mélangez le beurre, le sucre et le sucre glace</li>
                <li class="mb-2">Rajoutez la poudre d'amandes, puis les oeufs et enfin la farine et le sel. Mélangez jusqu'à l'obtention d'une boule de pâte. Couvrez de film alimentaire et mettez 2 heures au frig</li>
                <li class="mb-2">Diviser la pâte en 2 (vous avez de quoi faire 2 tartes et pouvez congeler une portion de pâte pour plus tard...) et étalez sur un plan de travail fariné. Placez dans un moule à tarte beurré et fariné</li>
            </ol>
            <div id="down"></div>
            <a href="#up"><img src="../../../public/img/up.png" width="18"></a>
        </div>
        <div>
            <h3 class="mb-3 mt-5 yummy_title">Tag</h3>

            <span class="badge badge-pill badge-primary">#dessert</span>
            <span class="badge badge-pill badge-primary">#pommes</span>
            <span class="badge badge-pill badge-primary">#saison</span>
            <span class="badge badge-pill badge-primary">#recettemaison</span>
            <span class="badge badge-pill badge-primary">#yummy</span>
            <span class="badge badge-pill badge-primary">#Tarte</span>
            <span class="badge badge-pill badge-primary">#Primary</span>
            <span class="badge badge-pill badge-primary">#Primary</span>
            <span class="badge badge-pill badge-primary">#Primary</span>
        </div>

        <div>

        </div>
    </section>
    <div class=" offset-1 col-10 mt-4">
        <h1 class="yummy_title">Commentaires</h1>
    </div>
{% endblock %}