{% extends "base.html.twig" %}

{% block content %}

    <h1>Liste des ingrédients</h1>

    <table class="table table-bordered">
        <tr>
            <th>Ingrédient</th>
            <th>Recettes associées</th>
            <th>Type d'ingrédient</th>
        </tr>

        {% for ingredient in ingredientsList %}
            <tr>
                <td>{{ ingredient.ingredient_name }}</td>
                <td><a href="/recipes-list?id={{ ingredient.ri }}" >{{ ingredient.nb }}</a></td>
                <td>{{ ingredient.kind_name }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}