{% extends "base.html.twig" %}

{% block content%}
    <h1>Ajouter une recette</h1>
    <form method="POST">
        <div class="form-group">
            <label>Titre</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
            <label>Votre image de recette</label>
            <input type="file" name="file" class="form-control">
        </div>
        <div class="form-group">
            <label>Catégorie</label>
            <select name="category" class="form-control">
                <option value="">Choisissez une catégorie</option>
            </select>
        </div>
        <div class="form-group">
            <label>Ingrédient</label>
            <select name="ingredient" class="form-control">
                <option value="">Choisissez un ou plusieurs ingrédients</option>
            </select>
        </div>
        <div class="form-group">
            <label>Difficulté</label>
            <input type="range" min="1" max="100" name="difficult" class="form-control">
        </div>
        <div class="form-control">
            <label>Descriptif</label>
            <input type="text" name="descripton" class="form-control">
        </div>
        <div class="form-control">
            <label>Suite d'instructions</label>
            <textarea name="instruction" class="form-control"></textarea>
        </div>
        <div class="form-control">
            <label>Temps de préparation</label>
            <input type="text" name="preparation" class="form-control">
        </div>
        <div class="form-control">
            <label>Temps de cuisson</label>
            <input type="text" name="cuisson" class="form-control">
        </div>
        <div class="form-group">
            <label>Tags</label>
            <input type="text" name="tags" class="form-control">
        </div>
        <button type="submit" name="submit" class="btn btn-primary btn-block">
            Valider
        </button>
    </form>
{% endblock %}